/** css **/
html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #333333;
  color: #999999;
  font-size: 12px;
  font-family: 'Quicksand', Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #716154;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: #303030;
}

::-moz-selection {
  background: #716154;
  color: #d1d1d1;
}

::selection {
  background: #716154;
  color: #d1d1d1;
}

a {
  color: #e8a13a;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: #999999;
}

/** configurando margins e paddings: **/
h1, h2, h3, h4, h5, h6, p, ul, ol, figure {
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vidaloka', Georgia, serif;
  font-weight: normal;
  color: #d1d1d1;
}

h1 {
  font-size: 2.2em;
  line-height: 2em;
}

h2 {
  font-size: 1.6em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.6em;
  line-height: 1.4em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.2em;
}

h5 {
  font-size: 1.2em;
  line-height: 1em;
}

h6 {
  font-size: 1em;
  line-height: 1em;
}

ul, ol {
  list-style: inside;
}

nav li {
  list-style: none;
}

nav li a {
  display: block;
}

figure {
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0px auto 10px auto;
  max-width: 100%;
}

figure img {
  width: 100%;
}

/** tooltips **/
#s-m-t-tooltip {
  /* basic */
  max-width: 300px;
  z-index: 99999999999;
  margin: 14px 14px 7px 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* style and design */
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 8px;
  line-height: 8px;
  color: #d1d1d1;
  background: #716154;
  -webkit-box-shadow: 1px 1px 2px #00000054;
          box-shadow: 1px 1px 2px #00000054;
}

/** tooltips **/
/******************** HEADER ********************/
header {
  position: fixed;
  z-index: 9999;
}

header #headerbg {
  position: absolute;
  background: #2C2C2C;
  -webkit-box-shadow: 1px 1px 2px #00000054;
          box-shadow: 1px 1px 2px #00000054;
  width: calc(100% + 40px);
  height: 100%;
  left: -40px;
  z-index: 0;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  border-right: 5px solid #716154;
}

#settings-menu {
  position: fixed;
  top: 20px;
  right: 20%;
  margin-right: 20px;
  z-index: 10;
  background: #716154;
  -webkit-box-shadow: 1px 1px 2px #00000054;
          box-shadow: 1px 1px 2px #00000054;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  padding: 5px;
}

#settings-menu, #settings-menu a {
  color: #d1d1d1;
}

#settings-menu p {
  margin: 0px;
}

#settings-menu .dropdown {
  background: #716154;
  padding: 5px;
  position: absolute;
  top: 100%;
  right: 0px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

#settings-menu:hover .dropdown {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

#language-menu li a {
  background: #333333;
  color: #d1d1d1;
  margin-top: 2px;
  padding: 2px 4px;
}

#language-menu li:hover a {
  color: #e8a13a;
}

/** HEADER TITLE **/
#main-title {
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 2;
}

#main-title h1 {
  font-size: 22px;
  margin: 0px;
  color: #d1d1d1;
  padding: 10px;
  padding-top: 5px;
  margin-right: 10px;
}

#main-title h1:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: -12px;
  width: 100%;
  height: 4px;
  background: #716154;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
}

#main-title p {
  display: table;
  margin: 0px auto;
  font-size: 11px;
  line-height: 11px;
  width: 90%;
  border-top: 1px solid #716154;
  padding: 0px 5px;
  padding-top: 1px;
  color: #999999;
  white-space: pre;
  display: none;
}

/** main menu **/
#main-menu {
  position: relative;
  display: inline-table;
  margin: 0px auto;
  text-align: center;
  z-index: 2;
}

#main-menu li {
  display: inline-block;
  margin: 0px 10px;
}

#main-menu li.div {
  padding: 0px;
  margin: 0px;
  color: #716154;
}

#main-menu li a {
  line-height: 3em;
  color: #acacac;
  text-transform: uppercase;
  padding: 0px 20px;
}

#main-menu li a:hover {
  text-shadow: 1px 1px 1px #00000054;
  letter-spacing: 2px;
  color: #999999;
}

#main-menu li a i {
  margin-right: 5px;
}

#content {
  display: -ms-grid;
  display: grid;
  grid: auto / 80% 20%;
  margin: 0px;
}

/******************** GRID ********************/
main {
  margin-top: 60px;
}

main #showing {
  border: 1px solid coral;
  display: none;
}

main section#grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

main #grid .box {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #303030;
  padding: 0px;
  -webkit-box-shadow: 1px 1px 2px #00000054;
          box-shadow: 1px 1px 2px #00000054;
  margin: 30px;
  width: calc(33.3% - 60px);
  -webkit-transition: .5s;
  transition: .5s;
}

main #grid .box:hover {
  -webkit-box-shadow: 5px 5px 1px #00000031;
          box-shadow: 5px 5px 1px #00000031;
}

main #grid .box .price {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #716154;
  color: #d1d1d1;
  z-index: 2;
  padding: 2px 4px;
  -webkit-box-shadow: 1px 1px 2px #00000054;
          box-shadow: 1px 1px 2px #00000054;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

main #grid .box:hover .price {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

main #grid .box figure {
  width: 100%;
  height: 125px;
  background-size: cover;
  background-position: center;
  margin: 0px;
  -webkit-transition: .5s;
  transition: .5s;
}

main #grid .box figure img {
  opacity: 0;
}

main #grid .box figure.cover-alt {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  display: none;
}

main #grid .box h2 {
  text-align: center;
  padding: 10px;
  margin: 0px;
  border-top: 5px solid #716154;
  color: #999999;
  font-size: 1.4em;
}

main #grid .box .box-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0px;
}

main #grid .box .box-menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main #grid .box .box-menu li a {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
  background: #716154;
  color: #d1d1d1;
}

main #grid .box .box-menu li:last-of-type a {
  -webkit-box-shadow: 1px 0px 0px #303030 inset;
          box-shadow: 1px 0px 0px #303030 inset;
}

main #grid .box .box-menu li i {
  margin-right: 5px;
  font-size: 1.2em;
  line-height: 1em;
  vertical-align: text-bottom;
}

main #grid .box .box-menu li:hover a {
  background: #4e443c;
}

main #grid .box .tags, main #grid .box .date {
  opacity: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

/******************** SIDEBAR ********************/
aside {
  position: relative;
}

aside #sidebar {
  position: relative;
}

aside section {
  background: #2C2C2C;
  -webkit-box-shadow: 1px 1px 2px #00000054;
          box-shadow: 1px 1px 2px #00000054;
}

aside h1 {
  background: #716154;
  color: #d1d1d1;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
}

aside h1 i {
  float: right;
}

/***** FORM *****/
aside form {
  margin: 0px;
}

aside form fieldset {
  border: none;
}

aside form fieldset legend {
  font-size: 1.1em;
  color: #acacac;
  font-weight: bold;
  padding: 2px;
  width: calc(100% - 4px);
}

aside form li {
  list-style: none;
  background: #333333;
  padding: 2px;
  margin-bottom: 2px;
  font-size: 1em;
}

aside form li input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  background: #2C2C2C;
  width: 1em;
  height: 1em;
  line-height: 1em;
  border-radius: 100%;
  margin: 0px;
  margin-right: 5px;
  float: left;
}

aside form li input[type=checkbox]:checked:after {
  content: "\2714";
  color: #e8a13a;
  position: absolute;
  top: 0px;
  left: 3px;
  font-size: .8em;
}

aside form li label {
  margin: 0px;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 1em;
  line-height: 1em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

/***** Terms of use *****/
aside section#tou ol {
  margin: 10px;
  padding-bottom: 10px;
  list-style: none;
  font-size: 11px;
}

aside section#tou ol li {
  background: #333333;
  padding: 5px;
  border-left: 5px solid #716154;
  margin-bottom: 5px;
}

aside section#old-themes {
  padding: 10px;
  text-align: center;
}

aside section#old-themes p {
  margin: 0px;
}

/******************** FOOTER ********************/
footer {
  background: #2C2C2C;
  color: #999999;
  text-align: center;
  padding: 5px 0px;
  font-size: 0.8em;
  letter-spacing: .5px;
  width: 100%;
  -webkit-box-shadow: 0px 3px 0px #716154 inset;
          box-shadow: 0px 3px 0px #716154 inset;
}

footer p {
  margin: 0px;
  margin-top: 3px;
}
